/* styles.css */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #ffcccc 0%, #ffe6f2 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container Styling */
.container {
    text-align: center;
    padding: 20px;
}

/* Title Styling */
.title {
    font-family: 'Delius Swash Caps', cursive;
    font-size: 3em;
    color: #ff6699;
    margin-bottom: 20px;
    text-shadow: 0 0 15px #ffffff;
    background: #ffffff;
    padding: 30px;
    border-radius: 100px;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

/* Button Styling */
.hi-button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #ff6699;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Button Hover Effect */
.hi-button:hover {
    background-color: #ff3366;
}
